body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #50c878;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 25%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 20px;
    text-align: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-picture button {
    background-color: #50c878;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.main-content {
    width: 75%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profile-info .field {
    margin-bottom: 20px;
}

.profile-info label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.profile-info span,
.profile-info input,
.profile-info textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-info input,
.profile-info textarea {
    display: block;
}

.profile-info .editable {
    display: flex;
    align-items: center;
}

.profile-info .editable span {
    flex: 1;
}

.profile-info .editable button {
    background-color: #50c878;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
